<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GridoPuente.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <applicationSettings>
    <GridoPuente.Properties.Settings>
      <setting name="connectionstring" serializeAs="String">
        <value>Server=.\SMARTFRAN;Database=GESTION;Trusted_Connection=True;MultipleActiveResultSets=true; Integrated Security=false;User ID=puente;Password=321321321</value>
      </setting>
      <setting name="urlapi" serializeAs="String">
        <value>http://cacuy.dyndns.org/mitablero/apirest.aspx</value>
      </setting>
    </GridoPuente.Properties.Settings>
  </applicationSettings>
</configuration>